<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<link rel=stylesheet href="base.css">
	<title>Chefs</title>
</head>

<body>

	<h2>Chefs list<span th:text="${numChef}">numero</span></h2>

	<table class="greyGridTable">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Nazionalita</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<!--se non ci sono chef scrivi su tutta la riga-->
			<tr th:if="${chefs.isEmpty()}">
				<td colspan="3"> No Chefs Available </td>
			</tr>
			<!--se ci sono degli chef, itera su tutti gli chef con for-each-->
			<tr th:each="chef : ${chefs}">
				<td>
					<a href="chef.html/0" th:href="@{'/chef' + '/' + ${chef.id}}"
						th:text="${chef.nome} + ' ' +${chef.cognome}">Carlo Cracco</a>
				</td>
				<td>
					<span th:text="${chef.nazionalita}">Italiana</span>
				</td>
				<td><a href="chef.html" th:href="@{'/toDeleteChef'+'/'+${chef.id}}"
						th:text="cancella">cancella</a>
				</td>
				<td><a href="chef.html" th:href="@{'/modificaChef'+'/'+${chef.id}}"
						th:text="modifica">modifica</a>
				</td>
			</tr>

		</tbody>
	</table>
</body>

</html>